nav ul a,
nav .brand-logo{
    color: #444;
}
.sidenav-trigger{
    color:#26a69a;
}
body{
    background-color:bisque;
}
nav{
    background-color:antiquewhite;
}
.sidenav{
    background-color:antiquewhite ;
}
.parallax-container{
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: white;
}
.parallax-container .section{
    width: 100%;
}
.brand-logo{
    font-family:'Times New Roman', Times, serif;
}
H5{
    font-family: 'Times New Roman', Times, serif;
}
.icon-block{
    padding: 0 15px;    
}
.icon-block .material-icons{
    font-size: inherit;
}
.icon-block p{
    text-align: justify;
}
p{
    line-height: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}
footer{
    background-color:rgb(206, 137, 52);
}